<section class="row">
    <div class="col-12 col-lg-6 leftside">
        <div class="form">
            <div class="header">
                <a class="logo  mb-4"><img src="/assets/img/core-img/logo.png" /></a>
                <div class="title">
                    <p class="form-title mb-3">LOGIN</p>
                    <p class="mb-3" id="form-title">GET OUR BEST
                        RECIPES</p>
                </div>

            </div>
            <form id="form" #loginForm="ngForm">
                <input type="email" name="email" class="input" placeholder="E-mail" ngModel required><br>
                <input type="password" name="password" class="input" placeholder="Password" ngModel required><br>
                <input type="button" value="LogIn" class="button" (click)="login(loginForm)">
            </form>
        </div>
    </div>
    <div class="col-12 col-lg-6 rightside">
        <div class="image">
            <h2 class="image-text">Hello There, Join Us</h2>
            <p class="image-text">Enter your personal details and join the cooking community</p><br>
            <input type="button" value="SignUp" class="button" (click)="signup()">
        </div>
    </div>
</section>