<form class="text-center border border-light p-5" #loginForm="ngForm">
    <p class="h4 mb-4">Log in</p>
    <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail" ngModel
        name="email" required>
    <input type="password" id="defaultRegisterFormPassword" class="form-control mb-4" placeholder="Password" ngMoel
        name="password" required>
    <button color="info" class="form-control mb-4" type="submit" (click)="login(loginForm)">Log in</button>

</form>