.row {
  margin-top: 6rem;
  margin-left: auto;
  margin-right: auto;
}

.leftside {
  justify-content: center;
  text-align: center;
  margin-top: 4rem;
  animation: sideleft .5s ease forwards;
}

.form {
  max-width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;

}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 15px;
}

.form-title {
  font-size: 17px;

  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: large;
}


.input {
  height: 60px;
  width: 90%;
  background-color: #f3f5f8;
  border: 2px solid #ffffff;
  font-size: 12px;
  font-style: italic;
  border: none;
  border-left: 3px solid #f3f5f8;
  border-radius: 15px;
  padding: 15px 30px;
  transition-duration: 500ms;
  outline: none;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 2rem;
}

.input:focus {
  box-shadow: none;
  border-left: 3px solid #40ba37;
}

.button {
  height: 60px !important;
  border-radius: 15px !important;
  line-height: 50px !important;

}

.rightside {
  background-image: url(https://source.unsplash.com/7MAjXGUmaPw/600x700);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-blend-mode: overlay;
  justify-content: center;
  /* text-align: center; */
  flex-direction: column;
  align-content: flex-end;
  height: 600px;
  max-width: 550px;
  border-radius: 20px;
  display: flex;
  background-color: #575c62;
  animation: sideright .5s ease forwards;

}

.image {
  justify-content: center;
  text-align: center;
  margin-top: 200px;
}

.image-text {
  color: #ffffff;
  font-size: large !important;
}

@keyframes sideright {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(10px);
  }
}

@keyframes sideleft {
  0% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0px);
  }
}