<section class="best-receipes">

    <app-page-header title="All Recipes"></app-page-header>

    <div class="container">
        <div class="row mx-0">
            <input type="search" class="form-control search-input" id="search" placeholder="Search Recipes">
        </div>
        <div class="row picklists">
            <select class="nice-select col-3" name="select1" id="select1">
                <option value="" disabled selected hidden>Sort by</option>
                <option value="1">Sort by: Latest</option>
                <option value="2">Sort by: Top Rated</option>
            </select>
            <select class="nice-select col-3" name="select2" id="select2">
                <option value="1">All Categories</option>
                <option value="1">Category 1</option>
                <option value="1">Category 2</option>
            </select>
        </div>

        <div class="row recipes-area">
            <div class="col-12 col-sm-12 col-lg-12 all-recipes ">
                @for (recipe of recipeDumps; track recipe.id) {
                <app-single-recipe class="single" [recipe]="recipe"></app-single-recipe>
                }
            </div>

        </div>
    </div>
    {{recipes | json}}
</section>