<section class="best-receipes">

    <app-page-header title="All Recipes"></app-page-header>

    <div class="container">
        <div class="row mx-0">
            <input  #search type="search" class="form-control search-input" id="search" placeholder="Search Recipes" (keyup.enter)="fuzzyResults(search.value)">
        </div>
        <div class="row picklists">
            <select #sort class="nice-select col-3" name="select" NgModel (change)="sortData(sort.value)">
                <option value="" disabled selected hidden>Sort by</option> 
                <option value="Latest">Sort by: Latest</option>
                <option value="TopRated">Sort by: Top Rated</option>
            </select>
            <select #category  class="nice-select col-3"  NgModel (change)="getByCategory(category.value)">
                <option value="all">All Categories</option>
                <option value="Meat And Poultry">Meat And Poultry</option>
                <option value="Deserts">Deserts</option>
            </select>
        </div>
        <div class="row date mx-0">
            <input #date type="date"  class="form-control search-input" (change)="getByDate(date.value)">
        </div>

        <div class="row recipes-area">
            <div class="col-12 col-sm-12 col-lg-12 all-recipes ">
                @for (recipe of recipes; track recipe.id) {
                <app-single-recipe class="single" [recipe]="recipe"></app-single-recipe>
                }
            </div>

        </div>
    </div>
    <!-- {{recipes | json}} -->
</section>