.search-input {
    height: 40px;
    width: 100%;
    background-color: #f3f5f8;
    border: 2px solid #ffffff;
    font-size: 12px;
    font-style: italic;
    margin-bottom: 3rem;
    border: none;
    border-left: 3px solid #f3f5f8;
    border-radius: 0;
    padding: 15px 30px;
    transition-duration: 500ms;
    margin-left: 0;
    margin-right: 0;
}

@media only screen and (min-width: 995px) {
    .container {
        max-width: 1200px !important;

    }
}

.search-title {
    text-align: center;
    color: #9b9b9b;
    margin: 20px;
}

.search-input:focus {
    border-left: 3px solid #40ba37;
    box-shadow: none;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .receipe-post-search .col-12 {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 767px) {
    .receipe-post-search .col-12 {
        margin-bottom: 15px;
    }
}


/* //widget */

.single-widget {
    position: relative;
    z-index: 1;
}

.single-widget h6 {
    margin-bottom: 50px;
    display: block;
}

.single-widget .list {
    padding-left: 30px;
}

.single-widget .list li a {
    display: block;
    padding: 5px 0;
    color: #797979;
}

.single-widget .list li a:hover,
.single-widget .list li a:focus {
    color: #40ba37;
}

.single {
    flex: 0 0 22% !important;
}

.all-recipes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    overflow: hidden;
}

.nice-select {
    height: 40px;
    background-color: #f3f5f8;
    font-size: 12px;
    font-style: italic;
    border: none;
    border-left: 3px solid #f3f5f8;
    border-radius: 0;
    padding: 0 30px;
    outline: none;

}
.picklists{
    justify-content: space-between; 
    margin-bottom:3rem;
    margin-left: 0;
    margin-right: 0;
}