<form class="text-center border border-light p-5">
    <p class="h4 mb-4">Sign up</p>
      <input type="text"  class="form-control mb-4" placeholder="First name"  name="firstName" ngModel required>
      <input type="text" class="form-control mb-4" placeholder="Last name"  name="lastName" ngModel required>
    <input type="email"  class="form-control m mb-4" placeholder="E-mail"  name="email" ngModel required>
    <input type="password"  class="form-control mb-4" placeholder="Password"  name="password" ngModel required>
    <button mdbBtn color="info" block="true" class="form-control mb-4" type="submit">Sign up</button>
    
  </form>
