<form class="text-center border border-light p-5">
    <p class="h4 mb-4">Add new recipe</p>
    <input type="text"  class="form-control mb-4" placeholder="Title">
    <select name="Category" class="form-control mb-4">
        <option value="op1">OP1</option>
        <option value="op2">OP2</option>
        <option value="op3">OP3</option>
        <option value="op4">OP4</option>
    </select>
    <input type="text" class="form-control mb-4" placeholder="Descreption">
    <input type="text"  class="form-control mb-4" placeholder="Ingredients">
    <input type="text"  class="form-control mb-4" placeholder="Method">
    <button mdbBtn color="info" block="true" class="form-control mb-4" type="submit">Sign up</button>
    
  </form>
