<section class="best-receipes">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title">
                    <h2>The best Recipes</h2>
                </div>
            </div>
        </div>

        <div class="row">
            @for (recipe of top6Recipes; track recipe.id) {
            <div class="col-12 col-sm-6 col-lg-4">
                <app-single-recipe [recipe]="recipe"></app-single-recipe>
            </div>
            }

        </div>
    </div>
</section>