<div class="single-receipe mb-3">
    <img src="{{recipe.picture}}"  (click)="singleRecipePost()" alt="">
    <div class="receipe-content">
        <a (click)="singleRecipePost()">
            <div class="header">
                <h5>{{recipe.title}}</h5>
            </div>
        </a>
        <div class="ratings">
            @for (star of getStarsArray(); track star) {
            <fa-icon class="star-icon" [icon]="solidStar"></fa-icon>
            }
            @for (starEmpty of getEmptyStarsArray(); track starEmpty) {
            <fa-icon class="star-icon" [icon]="regularStar"></fa-icon>
            }
        </div>
    </div>
</div>