<div class="single-receipe mb-3">
    <img src="{{recipe.picture}}" alt="">
    <div class="receipe-content">
        <!-- <p>{{recipe.title}}</p> -->
        <a (click)="singleRecipePost()">
            <div class="row">
                <div class="col-8">
                    <h5>{{recipe.title}}</h5>
                </div>
                <div class="col ">
                    <a  (click)="removeRecipe(recipe.id)"><fa-icon class="x-icon" [icon]="faTrash"></fa-icon></a>
                </div>
            </div>
        </a>
    </div>
</div>