<app-page-header title="About Us"></app-page-header>

<section class="about-area container">
    <div class="row">
        <div class="col-12">
            <div class="title">
                <h3>Welcome to Our Culinary Journey!</h3>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h6 class="sub-heading pb-5">At Delicious Food Blog, we are a group of passionate and ambitious fifth-year computer engineering students who share a common love for both technology and the art of cooking. Our journey began with a shared vision: to create a platform that simplifies and enhances the experience of managing and sharing culinary creations.</h6>

            <p class="text-center">Our mission is to seamlessly integrate technology into the world of cooking, making it more accessible and enjoyable for everyone. Whether you're a seasoned chef or an aspiring home cook, our platform provides a user-friendly space to organize, discover, and share your favorite recipes.</p>
            
        </div>
    </div>

    <div class="row align-items-center mt-70">
        @for (icon of icons; track icon.id) {
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="icon">
                <img src="{{icon.src}}" alt="">
                <h3><span class="counter">{{icon.counter}}</span></h3>
                <h6>{{icon.category}}</h6>
            </div>
        </div>
        }
    </div>

    <div class="row">
        <div class="col-12">
            <img class="mb-5" src="assets/img/bg-img/about.png" alt="">
            <p class="text-center">As we continue to grow and evolve, we invite you to join us on this exciting culinary adventure. Whether you're here to find inspiration, share your favorite recipes, or simply explore the vast world of gastronomy, Delicious Food Blog is your go-to platform for all things food and tech.
                Thank you for being a part of our story!</p>
        </div>
    </div>
</section>