<section class="hero-area">
    @for (pic of pictures; track pic.id) {
    <div class="single-slide bg-img" style="background-image: url({{pic.src}});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="slide-content" data-animation="fadeInUp" data-delay="100ms">
                        <h2 data-animation="fadeInUp" data-delay="300ms">{{latestRecipe.title}}</h2>
                        <p data-animation="fadeInUp" data-delay="700ms">{{latestRecipe.description}}</p>
                        <a (click)="seeRecipe()" class="button" data-animation="fadeInUp" data-delay="1000ms">See Recipe</a>
                    </div>
                </div>
                <div>
                    <h2 class="search-title">What would you like to eat?</h2>
                    <input type="search" class="form-control search-input" id="search" placeholder="Search Recipes">
                    <!-- <button class="btn">Search</button> -->
                </div>
            </div>
        </div>
    </div>
    }
</section>