.recipe {
    margin: 60px;
}
.row {
    margin: 40px;
    height: auto;
}
.col {
    padding: 20px 15px;
    margin: 20px;
}
.recipe-image {
    justify-content: center;
    text-align: center;
    margin: 30px;
    width: 100%;
    height: auto;
    margin: auto;
}
.recipe-text {
    margin: 60px 20px 10px;
}
.title {
    font-size: 50px;
    font-weight: 700;
    font-family: Arial, "Montserrat", sans-serif;
    letter-spacing: 3px;
    justify-content: center;
    text-align: center;
    padding: 10px;
    color: #1c8314;
}
.parag-title {
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 3px;
    font-size: x-large;
    padding: 20px;  
    color: #1c8314;
}
.text-sm-start {
    font-size: large;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    letter-spacing: .6px;
    color: #4A4A4A !important;
    text-align: center !important;
    padding: 20px;
}
 #second-text {
    text-align: start !important;
    padding: 0 !important;
 }
.step {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #40ba37;
    padding: 10px;
}
hr {
    color: #40ba37;
}

.ingredients {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    padding: 10px;
}
#third-text {
    text-align: start !important;
    padding: 10px !important;
}