<app-page-header title="Recipe Post"></app-page-header>

<div class="recipe">
    <div class="row">
        <div class="col">
            <div class="recipe-image">
                <img src="{{recipe.picture}}" alt="" class="rounded float-right">
            </div>
        </div>
        <div class="col">
            <div class="recipe-text">
                <h2 class="title">{{recipe.title}}</h2>
                <p class="text-sm-start">{{recipe.description}}</p>
                <p class="text-sm-start" id="second-text">Category: <strong>{{recipe.category.name}}</strong></p>
                <p class="text-sm-start" id="second-text">Created At: <strong>{{recipe.createdAt}}</strong></p>
                <p class="text-sm-start"id="second-text">Created By: <strong>{{recipe.user?.firstName}} | {{recipe.user?.lastName}}</strong></p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="steps">
                <label class="parag-title"> How To Make It</label><br>
                @for (step of recipe.instructions; track $index) {
                    <label class="step"> Step {{step.number}}</label><hr>
                    <p class="text-sm-start" id="second-text">{{step.description}}</p>
                } @empty {
                    <p class="text-sm-start">Empty list of methods</p>
                }
                
            </div>
        </div>
        <div class="col">
            <div class="ingredients">
                <label class="parag-title"> Ingredients</label><br>
                @for (ingredient of recipe.ingredients; track $index) {
                    <div class="form-check">
                        <label class="text-sm-start" id="third-text">
                           {{ingredient.name}}
                        </label>
                        <p class="text-sm-start" id="second-text">
                            {{ingredient.description}}
                        </p>
                        <hr>
                    </div>
                } @empty {
                    <p class="text-sm-start">Empty list of ingredients</p>
                }
            </div>
        </div>
    </div>
</div>
