<app-page-header title="Recipe Post"></app-page-header>

<section class="recipe container">
    <div class="row">
        <div class="col-12 col-lg-6 col-md-8  recipe-image">
            <img src="{{recipe.picture}}" alt="" class="rounded float-right">
        </div>
        <div class="col-12 col-lg-6 col-md-8 recipe-text my-5">
            <div>
                <span>{{recipe.createdAt}}</span>
                <div class="header">
                    <h2 class="title">{{recipe.title}}</h2>
                    @if (!tokenExist) {
                        <a  data-bs-toggle="modal" data-bs-target="#deleteModal"><fa-icon class="trash-icon" [icon]="faTrash"></fa-icon></a>
                    }
                </div>

                <div class="ratings">
                    @for (star of getStarsArray(); track star) {
                    <fa-icon class="star-icon" [icon]="solidStar"></fa-icon>
                    }
                    @for (starEmpty of getEmptyStarsArray(); track starEmpty) {
                    <fa-icon class="star-icon" [icon]="regularStar"></fa-icon>
                    }
                </div>
            </div>
            <div class="receipe-details">
                <h6>Category: <strong>{{recipe.category.name}}</strong></h6>
                <h6>Created At:: <strong>{{recipe.createdAt}}</strong></h6>
                <h6>Created By: <strong>{{recipe.user?.firstName}} 
                        {{recipe.user?.lastName}}</strong></h6>
            </div>
            <h6>{{recipe.description}}</h6>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col">
            <h3 class="title">How To Make It</h3>
            @for (step of recipe.instructions; track $index) {
            <div class="step">
                <label>{{step.number}}.STEP </label>
                <hr class="hr-1">
            </div>

            <p class="text-sm-start">{{step.description}}</p>
            } @empty {
            <p class="text-sm-start">Empty list of methods</p>
            }
        </div>
        <div class="col">
            <h3 class="title">Ingredients</h3>
            @for (ingredient of recipe.ingredients; track $index) {
            <div class="">
                <p class="text-sm-start ml-0">
                    {{ingredient.description}}
                </p>
                <hr class="hr-2">
            </div>
            } @empty {
            <p class="text-sm-start">Empty list of ingredients</p>
            }
        </div>
    </div>

     <!-- Delete Modal -->
     <div class="modal fade" id="deleteModal" tabindex="-1" data-bs-backdrop="static" role="dialog" data-bs-keyboard="false" aria-hidden="true">
        <div class="modal-dialog bg-light" style="border-radius:10px">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Recipe</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    You are about to delete a Recipe !
                
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" (click)="removeRecipe(recipe.id)"
                        data-bs-dismiss="modal">Delete</button>
                </div>
            </div>
        </div>
    </div>
</section>