@media only screen and (min-width: 995px) {
    .container {
        max-width: 1200px !important;

    }
}

span {
    font-size: 14px;
    display: block;
    color: #a4a4a4;
    margin-bottom: 0;
}

.receipe-details {
    border-left: 3px solid #40ba37;
    padding: 15px;
}

.recipe-text {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.title {
    font-weight: 700;
    color: #1c8314;
}

.text-sm-start {
    font-weight: 400;
    font-size: 16px;
    color: #4A4A4A !important;
    margin: 1rem;
}

.step {
    font-size: 17px;
    color: #40ba37;
    display: flex;
    align-items: center;
    margin: 1rem;
}

.hr-1 {
    color: #40ba37;
    width: 90%;
    margin: 0;
    margin-left: 13px;
}

.ml-0 {
    margin-left: 0;
}

.hr-2 {
    color: #40ba37;
    width: 50%;
}

.star-icon {
    font-size: 18px;
    color: #fbb710;
    padding: 0 3px;
}